.chip_panel {
    max-width: 884px;
    margin-top: 100px;
    min-height: 150px;
}

@keyframes myfirst {0% {margin-top: 0px;}100% {margin-top: 120px;}}
@-moz-keyframes myfirst {0% {margin-top: 0px;}100% {margin-top: 120px;}}
@-webkit-keyframes myfirst {0% {margin-top: 0px;}100% {margin-top: 120px;}}
@-o-keyframes myfirst {0% {margin-top: 0px;}100% {margin-top: 120px;}}

#google-logo {
    animation: myfirst 0.5s;
    -moz-animation: myfirst 0.5s;
    -webkit-animation: myfirst 0.5s;
    -o-animation: myfirst 0.5s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}
.logo-box {
    height: 350px;
}
.search {
    position: relative;
    margin: 0 auto;
    width: 584px;
    width: auto;
    max-width: 884px
}

.card:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0)
}

.input-box {
    width: 100%;
}

.icon {
    flex: 1;
    display: flex;
    padding: 0 8px 0 0;
    padding-left: 14px;
    height: 44px;
}

.wFncld {
    margin-top: 0px;
    color: #9aa0a6;
    height: 20px;
    width: 20px
}

.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px
}
.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%
}
.a4bIc {
    display: flex;
    flex: 1;
    flex-wrap: wrap
}
.gLFyf {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: 0px;
    height: 44px;
    font-size: 16px
}
.iblpc {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: 0;
}
.pR49Ae {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 44px
}
.gsfi {
    font: 16px arial, sans-serif;
    color: rgba(0, 0, 0, .87);
    line-height: 44px;
    height: 44px !important
}
.card {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    width: auto;
}
.think_card {
    z-index: 2;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0)
}
.think_panel {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: left;
    margin-top: -1px;
    z-index: 4;
    cursor: default;
    background: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0 0 24px 24px;
    padding-bottom: 4px;
    overflow: hidden;
}
.think_list:hover {
    background: #eee;
}

.sbct {
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0;
}
.sbic {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    margin-right: 20px;
}
.sb43 {
    background: url(s_i.png) no-repeat 0 0;
    background-size: 25px;
    min-height: 25px;
    min-width: 25px;
    height: 25px;
    width: 25px;
}
.jKWzZXdEJWi__suggestions-inner-container {
    flex: auto;
    display: flex;
    margin: 0 20px;
    height: 35px;
    align-items: center;
    margin: 0 20px 0 14px;
}